.contextMenu {
  background-color: #DBEEF7;
  padding-top: 0px;
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
  border-radius: 4px;
}

.contextMenu ul {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contextMenu ul li {
  margin: 10px 0;
  padding-bottom: 10px;
}

.contextMenu ul li a {
  text-decoration: none;
  color: rgb(66, 134, 189);
  font-weight: bold;
}

.contextMenu ul li a:hover {
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s ease all;
}

@media (min-width: 820px) {
  .contextMenu {
    grid-area: contextMenu;
    padding-top: 18px;
    padding-bottom: 0px;
    height: 100%;
    font-size: 17px;
    width: fit-content;
    margin-top: -19px;
    justify-content: center;
    align-items: center;
  }

  .contextMenu ul {
    display: block;
  }

  .contextMenu ul li {
    margin: 10px 0;
  }
}
